In [5]:
import numpy as np 
import pandas as pd

In [6]:
df = pd.read_csv('C:/Users/HP/OneDrive/Documents/weather.csv')
print(df.head(3))

#we can also print differnt formats of files like xlsxand txt
# df_xlxs = pd.read_excel('pokemon_data.xlsx)
#print(df_xlxs)

# df_txt = pd.read_csv('pokemon.txt' , delimeter = '\t')
# "delimeter = '\t'" this is used to give the tab space in data because it just gives the data in txt regardless its a table or para
# here instead of \t it can be anything that will be used a s breaker eg:- xxx

                  Formatted Date        Summary Precip Type  Temperature (C)  \
0  2006-04-01 00:00:00.000 +0200  Partly Cloudy        rain         9.472222
1  2006-04-01 01:00:00.000 +0200  Partly Cloudy        rain         9.355556
2  2006-04-01 02:00:00.000 +0200  Mostly Cloudy        rain         9.377778

   Apparent Temperature (C)  Humidity  Wind Speed (km/h)  \
0                  7.388889      0.89            14.1197
1                  7.227778      0.86            14.2646
2                  9.377778      0.89             3.9284

   Wind Bearing (degrees)  Visibility (km)  Loud Cover  Pressure (millibars)  \
0                   251.0          15.8263         0.0               1015.13
1                   259.0          15.8263         0.0               1015.63
2                   204.0          14.9569         0.0               1015.94

                       Daily Summary
0  Partly cloudy throughout the day.
1  Partly cloudy throughout the day.
2  Partly cloudy throughout the day.

 this Unicode error because of the backslashes (\) in the file path. In Python strings, backslashes are used as escape characters 
(\n,\u) therefore for solution check r'', \\ or / instead of '\'
also this is dataframe that is group of row as columns.

In [9]:
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [10]:
df.shape

(96453, 12)

this tells the number of rows and columns of the dataframe no () as its not a method

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

this gives all the columns with their respective datatypes, also its a method

In [7]:
df.head(3)
#gives from the starting

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.

In [8]:
df.tail(3)
#gives the last 3 from ending!

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

READING IN  PANDAS

In [40]:
#read headers
#df.columns

# Read each column

# to get a single column
#df['Formatted Date']
#df['Formatted Date', 'Temperature (C)', 'Wind Speed (km/h)']
  
# to print a specific column of a specific row
#print(df['Formatted Date'][5])

# to print a specific range of column of a specific row
#print(df['Formatted Date'][0:8]) # only to be written as [lower:higer]

# read each row

# from the top stars reading
#df.head(7)

# from the end starts reading
#df.tail(879)

# specific one row
#df.iloc[2]

# specific range of row
#df.iloc[2:5]  # in this case rows 2, 3, 4 are printed 

#for readind a specific location
#df.iloc[5,3] # the [row , column]

# for reading full rows one by one
#for index, row in df.iterrows():
    #print(index, row['Formatted Date'])  # for row of particular particular cloumn
    #print(index, row) # for all rows

df.loc[df['Precip Type'] == "rain"] # this 'loc' is basicallymore about data the text or numbering
 # here in loc any ==, != can be used

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

SORTING/DESCRIBING DATA

In [42]:
df.describe()
#basic statistic answer given

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [52]:
# for simple sorting according to any column, with respect ti alphabets(a.b,c...) or numbers(0,1,2,3...)
#df.sort_values('Humidity') # df.sort_values(['Humidity'], ascending=False)
# both are same 

# for decending order
#df.sort_values(['Humidity'], ascending=False)

# sorting according to two variables 1st is 1st priority second keeps its priority acccording to the 1st one
#df.sort_values(['Humidity','Pressure (millibars)'])
# for the same results:
#df.sort_values(['Humidity','Pressure (millibars)'], ascending = True)

# both in  decending order:
#df.sort_values(['Humidity','Pressure (millibars)'], ascending = False)

# for 1st one in ascending order and 2nd one in descending order:
df.sort_values(['Humidity','Pressure (millibars)'], ascending = [1,0])

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
19958,2008-02-17 14:00:00.000 +0100,Partly Cloudy,snow,-1.111111,-1.111111,0.0,4.4275,12.0,9.9820,0.0,1043.04,Partly cloudy starting in the morning continui...
55481,2012-02-08 17:00:00.000 +0100,Clear,snow,-12.777778,-12.777778,0.0,4.8300,180.0,9.9820,0.0,1036.00,Foggy until morning.
55473,2012-02-08 09:00:00.000 +0100,Foggy,snow,-16.111111,-16.111111,0.0,0.0000,0.0,1.7710,0.0,1035.70,Foggy until morning.
55472,2012-02-08 08:00:00.000 +0100,Foggy,snow,-17.777778,-17.777778,0.0,3.2200,190.0,0.8050,0.0,1035.00,Foggy until morning.
54858,2012-02-10 18:00:00.000 +0100,Foggy,snow,-15.000000,-15.000000,0.0,0.0000,0.0,2.5760,0.0,1034.40,Foggy starting in the morning continuing until...
...,...,...,...,...,...,...,...,...,...,...,...,...
71855,2014-12-18 23:00:00.000 +0100,Foggy,rain,5.000000,2.416667,1.0,11.2700,190.0,2.8175,0.0,0.00,Foggy overnight.
72003,2014-12-24 03:00:00.000 +0100,Clear,rain,0.177778,-3.311111,1.0,10.8836,162.0,4.0250,0.0,0.00,Foggy starting in the evening.
87048,2015-09-13 03:00:00.000 +0200,Clear,rain,8.888889,8.888889,1.0,0.0000,0.0,4.5885,0.0,0.00,Clear throughout the day.
87049,2015-09-13 04:00:00.000 +0200,Clear,rain,8.888889,8.888889,1.0,0.0000,0.0,4.5241,0.0,0.00,Clear throughout the day.
87051,2015-09-13 06:00:00.000 +0200,Clear,rain,7.777778,7.777778,1.0,4.8300,120.0,4.4919,0.0,0.00,Clear throughout the day.

MAKING CHANGES TO DATA

In [71]:
# defining a one more column of Total:
#df['Total'] = df['Temperature (C)'] + df['Apparent Temperature (C)'] + df['Humidity'] + df['Wind Speed (km/h)'] + df['Wind Bearing (degrees)']+ df['Visibility (km)'] + df['Loud Cover'] + df['Pressure (millibars)']
#displaying the extra column 
#df.head(5)

# now this can be use to drop any column but here as 'Total' is removed thus u have to keet the line where u defined 'Total'
#df = df.drop(columns = ['Total'])
#df.head(5)


# another easy way of defining total
df['total'] = df.iloc[:, 6:8].sum(axis = 1)
# shows the ":' all rows and '6:8' adds th column 6+7 axis = 1 as new column named total needs to be added
#  axis = 1 : "Perform the operation across columns (i.e., row-wise)"
df.head(5)

,Formatted Date,Summary,Precip Type,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,total
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,266.8263
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,274.8263
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,218.9569
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,284.8263
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,274.8263

In [68]:
# to drop a column
df = df.drop(columns = ['Temperature (C)'])
df.head(5)

####NOTE: EK BAAR DROP KARNE PAR VO PARMANENTLY DROP HO GAYA COMMENT KARNE PAR CHANGE NAHI HOGA

,Formatted Date,Summary,Precip Type,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [74]:
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:9]]

df.head(5)
# the order of columns is changed 
# its kind of a visual thing not really changes the data.

,Formatted Date,Summary,Precip Type,Apparent Temperature (C),total,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,7.388889,266.8263,0.89,14.1197,251.0,15.8263,0.0
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,7.227778,274.8263,0.86,14.2646,259.0,15.8263,0.0
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,218.9569,0.89,3.9284,204.0,14.9569,0.0
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,5.944444,284.8263,0.83,14.1036,269.0,15.8263,0.0
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,6.977778,274.8263,0.83,11.0446,259.0,15.8263,0.0

SAVING OUR DATA (EXPORTING INTO DESIRED FORM)

In [79]:

#' index = False' this statement is used to remove the extra index column that was also saved
#df.to_csv('modifiedposh.csv', index = False)

# can be saved as excel sheet:
#df.to_excel('modifiedposh.xlsx', index = False)

# can be saved as text sheet "sep = '\t'" this is uses as seperater \t = tab:
df.to_csv('modifiedposh.txt', index = False, sep = '\t')

FILTERING DATA

In [106]:
#info with precip type snow only:
#df.loc[(df['Precip Type'] == 'snow') & (df['Humidity'] == 1.00) & (df['Apparent Temperature (C)'] != 3.00)]

# here 'and' = "&" and 'or' = "|" we can add conditions and modify it however we want

# we can also save it as a different name and thus save that resp. file with required conditions differently
#new_df01 = df.loc[(df['Precip Type'] == 'snow') & (df['Humidity'] == 1.00) & (df['Apparent Temperature (C)'] != 3.00)]
#     new_df01.to_csv('filtered_newName.csv')

# to get the index back 
#new_df01 = new_df01.reset_index()
#new_df01

# to drop them
#new_df01 = new_df01.reset_index(drop = True, inplace = True)
#inplace means its making the change with the original data of "new_df01" avoids copy thus saving space 
#new_df01


# now if i want to remove sometings with some particular thing in it eg:
# here in summary there a two options like 'partly cloudy' and 'mostly cloudy'
# thus i want to remove all the rows having word'cloudy' in their summary

# this shows the table with summary have all the options with having 'Cloudy' in them
#df.loc[df['Summary'].str.contains('Cloudy')]

# to negate in pandas ~ is used
#df.loc[~df['Summary'].str.contains('Cloudy')]


#gets the data with summary = Foggy or Clear
#regex means regular expression,If you don't use regex=True, the pipe | is treated as a normal character and won't mean "or".
#df.loc[df['Summary'].str.contains('Foggy|Clear', regex=True)]

# now here the Cloudy finds all the data in summary that includes Cloudly eg: Partly Cloudy and Mostly Cloudy Both.
#df.loc[df['Summary'].str.contains('Cloudy|Clear', regex=True)]


#Python re (regular expression) module has to been imported in your code.
# this is how we make that the container is case insensetive thus using a flag for it to occur
import re
#df.loc[df['Summary'].str.contains('foggy|clear', flags=re.I, regex=True)]

# to finde the data with par ticular worde in it 
# it will show the data with letters 'cl' in them anywhere.
# shows Partly Cloudy, Mostly Cloudy, Clear all 
df.loc[df['Summary'].str.contains('cl[a-z]* ', flags=re.I, regex=True)]

# now if we want them to start with 'cl' use ^
# only shows Clear
df.loc[df['Summary'].str.contains('^cl[a-z]', flags=re.I, regex=True)]

,Formatted Date,Summary,Precip Type,Apparent Temperature (C),total,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover
223,2006-04-18 07:00:00.000 +0200,Clear,rain,8.688889,295.8443,0.93,1.4329,290.0,5.8443,0.0
309,2006-04-20 21:00:00.000 +0200,Clear,rain,12.266667,326.1985,0.99,8.0500,320.0,6.1985,0.0
337,2006-04-22 01:00:00.000 +0200,Clear,rain,8.633333,324.3649,0.96,6.4239,321.0,3.3649,0.0
338,2006-04-22 02:00:00.000 +0200,Clear,rain,9.861111,323.4597,0.96,3.2361,319.0,4.4597,0.0
357,2006-04-22 21:00:00.000 +0200,Clear,rain,12.494444,206.9820,0.91,3.9445,197.0,9.9820,0.0
...,...,...,...,...,...,...,...,...,...,...
96432,2016-09-09 03:00:00.000 +0200,Clear,rain,15.594444,56.4399,0.87,3.2844,41.0,15.4399,0.0
96433,2016-09-09 04:00:00.000 +0200,Clear,rain,15.011111,356.8263,0.93,3.2039,341.0,15.8263,0.0
96434,2016-09-09 05:00:00.000 +0200,Clear,rain,15.016667,373.9569,0.90,2.7048,359.0,14.9569,0.0
96435,2016-09-09 06:00:00.000 +0200,Clear,rain,13.872222,15.8263,0.93,4.7495,0.0,15.8263,0.0
96436,2016-09-09 07:00:00.000 +0200,Clear,rain,16.072222,27.7297,0.88,2.7853,12.0,15.7297,0.0

CONDITIONAL CHANGES

In [116]:
df.loc[df['Summary'] == 'Clear']

Empty DataFrame
Columns: [Formatted Date, Summary, Precip Type, Apparent Temperature (C), total, Humidity, Wind Speed (km/h), Wind Bearing (degrees), Visibility (km), Loud Cover, Alert, Total]
Index: []